@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

/* body {
  font-family: "Outfit", sans-serif;
} */

/* Pour Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin-left: 0;
  margin-right: 0;
}

@layer utilities {
  .transition-right {
    @apply transition-all duration-500;
    transition-property: right;
  }
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  .animate-slide-up {
    animation: slide-up 0.5s ease-out;
  }

  .animate-slide-down {
    animation: slide-down 0.5s ease-out;
  }
}
